:root {
    --md-admonition-icon--dictionnary: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 22a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-6v7L9.5 7.5 7 9V2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12z"/></svg>');
    --md-admonition-icon--grid: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M352 432c0 8.836-7.164 16-16 16H176c-8.838 0-16-7.164-16-16V128H48c-26.51 0-48 21.5-48 48v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48v-80H352v48zm-248 7c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-5 4.03-9 9-9h30c4.969 0 9 4.031 9 9v30zm304 178c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30c0 4.969-4.031 9-9 9h-30c-4.969 0-9-4.031-9-9v-30zM591.1 0h-352c-25.6 0-48 21.49-48 48v256c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V48c.9-26.51-20.6-48-48-48zm-288 64c17.68 0 32 14.33 32 32s-14.32 32-32 32c-16.8 0-32-14.3-32-32s15.2-32 32-32zm271 215.6c-2.8 5.2-8.2 8.4-14.1 8.4H271.1c-6 0-10.6-3.4-13.4-8.7-2.7-5.4-2.2-11.9 1.4-16.7l70-96c3-4.2 7.8-6.6 12-6.6 5.11 0 9.914 2.441 12.93 6.574l22.35 30.66 62.74-94.11C442.1 98.67 447.1 96 453.3 96c5.348 0 10.34 2.672 13.31 7.125l106.7 160c3.29 4.875 3.59 11.175.79 16.475z"/></svg>');
}

.md-typeset :is(.note) > :is(.admonition-title, summary) {
    color: #448aff;
}

.md-typeset :is(.abstract, .summary, .tldr) > :is(.admonition-title, summary) {
    color: #00b0ff;
}

.md-typeset :is(.info, .todo) > :is(.admonition-title, summary) {
    color: #00b8d4;
}

.md-typeset :is(.tip, .hint, .important) > :is(.admonition-title, summary) {
    color: #00bfa5;
}

.md-typeset :is(.success, .check, .done) > :is(.admonition-title, summary) {
    color: #00c853;
}

.md-typeset :is(.question, .help, .faq) > :is(.admonition-title, summary) {
    color: #64dd17;
}

.md-typeset :is(.warning, .caution, .attention) > :is(.admonition-title, summary) {
    color: #ff9100;
}


.md-typeset :is(.failure, .fail, .missing) > :is(.admonition-title, summary) {
    color: #ff5252;
}
.md-typeset :is(.danger, .error) > :is(.admonition-title, summary) {
    color: #ff1744;
}

.md-typeset :is(.bug) > :is(.admonition-title, summary) {
    color: #f50057;
}

.md-typeset :is(.example) > :is(.admonition-title, summary) {
    color: #7c4dff;
}

.md-typeset :is(.quote, .cite) > :is(.admonition-title, summary) {
    color: #9e9e9e;
}

.md-typeset .admonition.dictionnary,
.md-typeset details.dictionnary {
  border-color: rgb(43, 155, 70);
}
.md-typeset .dictionnary > .admonition-title,
.md-typeset .dictionnary > .summary {
  background-color: rgba(43, 155, 70, 0.1);
  border-color: rgb(43, 155, 70);
  color: rgb(43, 155, 70);
}
.md-typeset .dictionnary > .admonition-title::before,
.md-typeset .dictionnary > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--dictionnary);
          mask-image: var(--md-admonition-icon--dictionnary);
}

.md-typeset .admonition.grid,
.md-typeset details.grid {
  border-color: transparent;
  background-color: transparent;
}
.md-typeset .grid > .admonition-title,
.md-typeset .grid > .summary {
    display: none;
}
.md-typeset .grid > .admonition-title::before,
.md-typeset .grid > summary::before {
  background-color: transparent;
  -webkit-mask-image: var(--md-admonition-icon--grid);
          mask-image: var(--md-admonition-icon--grid);
}

.comments {
    display: none;
}
#left {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: normal;
}

#u {
	text-align: center;
	display: block;
}

.md-typeset .admonition.grid {
    box-shadow: none;
}

.md-typeset .admonition.grid p:not(.admonition-title) {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    justify-content: center;
}

.md-typeset .admonition.grid img {
    display: table-cell;
    vertical-align: middle;
    padding: 1px;
    width: 75%;
    height: 75%;
}